body {
  background-color: #ddd;
}
.h1 {
  font-size: 72px !important;
}
.card {
  height: fit-content;
  margin-top: auto;
  margin-bottom: auto;
  width: 500px !important;
  border: 1px solid #d63384;
  border-radius: 1.5rem;
}
